---
analytics:
  enabled: ${BAZARR__ANALYTICS_ENABLED:-false}
auth:
  apikey: ${BAZARR__API_KEY}
postgresql:
  database: '${BAZARR__POSTGRES_DB}'
  enabled: ${BAZARR__POSTGRES_ENABLED:-false}
  host: '${BAZARR__POSTGRES_HOST:-localhost}'
  password: '${BAZARR__POSTGRES_PASSWORD}'
  port: ${BAZARR__POSTGRES_PORT:-5432}
  username: '${BAZARR__POSTGRES_USER}'
