# yamllint disable rule:comments
---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Run all the linters

'on':
  workflow_call:
  workflow_dispatch:
  push:

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          fetch-depth: 1

      - name: Setup CUE
        uses: cue-lang/setup-cue@a93fa358375740cd8b0078f76355512b9208acb1 # v1.0.1

      - name: "Linter: CUE"
        shell: bash
        run: |-
          cue vet --schema '#Spec' ./apps/*/metadata.json ./metadata.rules.cue

      - name: "Linter: hadolint"
        uses: jbergstroem/hadolint-gh-action@2b00b87f8a56783930b6a4749837d7c45c567ff2 # v1.13.0
        with:
          annotate: true
          dockerfile: "apps/*/Dockerfile"
          error_level: 1

      - name: "Linter: shellcheck"
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        with:
          severity: warning

      - name: "Linter: yamllint"
        uses: karancode/yamllint-github-action@4052d365f09b8d34eb552c363d1141fd60e2aeb2 # v3.0.0
        with:
          yamllint_strict: true
          yamllint_config_filepath: ./.yamllint
          yamllint_comment: true
        env:
          GITHUB_ACCESS_TOKEN: "${{ steps.generate-token.outputs.token }}"
# yamllint enable rule:comments
