---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy image
'on':
  push:
    branches:
      - master

jobs:
  deploy:
    uses: deedee-ops/containers/.github/workflows/deploy.yaml@master
    secrets: inherit

  build-readme:
    needs: deploy
    uses: deedee-ops/containers/.github/workflows/render-readme.yaml@master
    secrets: inherit
