# yamllint disable rule:comments
---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Prepare matrix of changed images
'on':
  workflow_call:
    outputs:
      matrix:
        description: "Matrix of images to build"
        value: ${{ jobs.prepare-matrix.outputs.matrix }}
jobs:
  prepare-matrix:
    name: Prepare matrix of images to build
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@0874344d6ebbaa00a27da73276ae7162fadcaf69 # v44.3.0

      - name: Setup matrix
        id: set-matrix
        run: |
          apps=" "
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ "${file}" == "apps/"* ]] && [[ "${file}" != *".md" ]]; then
              app="$(sed -E 's@apps/([^/]+).*@\1@g' <<< "${file}")"
              if [[ ! "${apps}" == *" ${app} "* ]]; then
                apps="${apps}${app} "
              fi
            fi
          done
          matrix="["
          for app in $(echo "${apps}"); do
            for channel in $(jq --raw-output '.channels | .[] | .name' apps/${app}/metadata.json); do
              matrix="${matrix}{\"app\":\"${app}\",\"channel\":\"${channel}\"},"
            done
          done
          matrix="${matrix}]"
          sed -E 's@,\]@]@g' <<< "matrix=${matrix}" >> $GITHUB_OUTPUT
# yamllint enable rule:comments
