# yamllint disable rule:comments
---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Render Readme"

'on': workflow_call

concurrency:
  group: render-readme
  cancel-in-progress: true

jobs:
  render-readme:
    name: Render README
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: "${{ steps.generate-token.outputs.token }}"

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.13'
          cache: 'pip'  # caching pip dependencies

      - name: Install Python Requirements
        run: |
          pip install -r ./.github/scripts/requirements.txt && pip freeze

      - name: Render README
        env:
          GITHUB_TOKEN: "${{ steps.generate-token.outputs.token }}"
        run: |
          python ./.github/scripts/render-readme.py

      - name: Commit Changes
        uses: stefanzweifel/git-auto-commit-action@b863ae1933cb653a53c021fe36dbb774e1fb9403 # v5.2.0
        with:
          commit_message: "docs: render README.md"
          file_pattern: "README.md"
          commit_user_name: "RoboDexo2000[bot]"
          commit_user_email: "150604236+RoboDexo2000[bot]@users.noreply.github.com"
          commit_author: "RoboDexo2000 <150604236+RoboDexo2000[bot]@users.noreply.github.com>"
# yamllint enable rule:comments
